<% include inc/header %>
    <div class="page">
        <% include inc/navbar %>
        <div class="content">
            <h1><%=page.title%></h1>
        </div>
    </div>
<script>
    document.title= "168miles_<%=page.title%>";
</script>
<% include inc/footer %>